* {
  margin: 0;
  padding: 0;
}
body {
  background-repeat: no-repeat;
  color: #ffff;
  font-family: 'Kanit', sans-serif;
}
.ctnPage{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.imgBackground{
  background-image:url(../img/background_Page_Img.jpg);
  background-color: #cccccc;
  height: 100vh; width: 100vw;
  background-position:bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.titleH1 {
  text-align: center;
  font-size: 2.7rem;
  flex-grow: 0.0;
}
.subtitleH1{
  font-weight: 800;
  font-size: 1.3rem;
}
form {
  position: relative;
  left: 10%;
  height: 50vh; width: 25vw;
  border-radius: 20px;
  margin: 5vh;
}
.interfaceForm {
  border-radius: 20px;
  height: 100%; width: 100%;
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  justify-content: space-around;
  padding: 2%
}
.formInstruction {
  font-weight: 800;
  font-size: 1.3rem;
}
.ctnInputBtn{
  background-color: black;
}
.inputForId {
  font-size: 1.9rem;
  text-align: center;
  width: 150px;
  border: none; border-radius: 10px;
  outline: none;
  top: 3%;
}
#btnForIdSearch {
  position: relative;
  font-size: 1.2rem;
  outline: none;
  height: 35px; width: 80px;
  border-radius: 5px;
  border: none; 
  bottom: 2%;
}
section{
  text-align: center;
  flex-grow: 0.9;
  width: 90%;
  border-radius: 20px;
}
#describAbilities{
  display: none;
}
/*Classes Ativadas Com JS após o Click no btn*/
.namePokemon{
  font-size: 1.9rem;
}
.imgPokemon{
  height: 19vh;
  width:10vw;
  border-radius: 60px;
  margin-top: 10px;
  background-image: linear-gradient(to bottom, #ef0707,#1e1818,#f2f2f2);
}
.ability{
  padding: 5px 10px 0;
  font-weight: 600;
  display: block;
}