* {
  margin: 0;
  padding: 0;
}
body {
  color: #ffff;
  font-family: "Kanit", sans-serif;
}
.ctnPage {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}
.imgBackground {
  background-image: url(../img/background_Img/background_Page_Img.jpg);
  background-color: #cccccc;
  height: 100vh; width: 100vw;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.titleH1 {
  font-size: 2.7rem; text-align: center;
  flex-grow: 0;
}
.formInstruction {
  font-weight: 800; font-size: 1.3rem;
}
.ctnInputBtn {
  height:47px; width: 300px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px 0;
}
.inputForId {
  font-size: 1.9rem;text-align: center;
  height: 40px; width: 130px;
  border: none; border-radius: 10px;
  outline: none;
}
#btnForIdSearch {
  position: relative;
  font-size: 1.4rem;
  outline: none;
  height: 40px; width: 90px;
  border-radius: 5px;
  border: none;
}
.interfaceForm {
  position: relative;
  border-radius: 20px;
  height: 300px; width: 600px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.ctnDataPokemon{
  flex-grow: 1.5;
}
.backgPokebola{
  position: relative;
  height: 30vh; width: 13.7vw;
  background: url("../img/Pokebola/pokebola_Orig2.png") no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.7;
}
.ctnDescription{
  height:200px ;width: 400px;
  margin: 50px 0;
}
.descriptionData{
  
  margin: 5px 0;
  font-size: 0.8rem;
  font-weight: 600;
  list-style-type: none;
  display: block;
}

/*Classes Ativadas Com JS após o Click no btn*/
.namePokemon {
  font-size: 1.9rem;
  margin-top: 10px 0;
  width: 10vw;
  text-transform: capitalize;
}
.imgPokemon {
  position: relative;
  height: 30vh; width: 13.7vw;
  border-radius: 60px;
  bottom: 50%;
}
.ability {
  font-size: 1.5rem;
  font-weight: 600;
  list-style-type: none;
  text-transform: capitalize;
}
